<launch>
<include file="$(find umirtx_description)/launch/upload_description.launch" />
<include file="$(find umirtx_hardware)/launch/umirtx_node.launch" />
<include file="$(find umirtx_hardware)/launch/default_controllers.launch" />

<!-- Robot state publisher -->
<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
<param name="publish_frequency" type="double" value="50.0"/>
<param name="tf_prefix" type="string" value=""/>
</node>


<!--ide jon a moveit planning execution /-->
</launch>
